{% extends 'employees/employees_base.html' %}

{% block title %}Employee Home{% endblock %}
{% block header %} Employee Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello {{ logged_in_employee.name }}!<br>
    <br>
    <br>
    <h3>Today is</h3>
    <br />
      <ul>
        <p>{{day_of_week}},{{curr_date}}</p>
        
      </ul>

    <h2>Todays Pickups</h2>
      <ul>
        {% for customer in customers_to_pickup %}
           <li>{{customer.name}} - {{customer.address}},{{customer.zip_code}}
            <a href="{% url 'employees:confirm' customer.id %}"><button type="button">Confirm Pickup</button></a>
           </li>
        {% endfor %}
      </ul>

    <h2>One Time Pickups</h2>  
      <ul>  
        {% for customer in one_time_pickup_final %}
           <li>{{customer.name}} - {{customer.address}},{{customer.zip_code}}
             <a href="{% url 'employees:confirm' customer.id %}"><button type="button">Confirm Pickup</button></a>
           </li>
        {% endfor %}   
      </ul> 
      <br />
      <br />
    <h2></h2>

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}